* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Montserrat', serif;
}

.footer {
    background-color: #000000;
    height: 96px;
    color: rgba(255, 255, 255, 0.3);
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    line-height: 96px;
}

.clear {
    clear: left;
}

.nav {
    position: relative;
    width: calc(100% - 200px);
    left: 100px;
    height: 194px;
    border-bottom: solid rgba(255, 255, 255, 0.24) 1px;
}

.nav div {
    position: relative;
    top: 80px;
}

.nav div.left {
    float: left;
}

.nav div.right {
    float: right;
    top: 86px;
}

.nav div.center {
    text-align: center;
    width: 33%;
    display: inline-block;
    top: 92px;
}

.nav div.center span {
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nav div.right .icon:first-child {
    margin-right: 40px;
}

.nav .icon {
    position: relative;
    color: rgb(255, 255, 255);
}

.nav div.left .icon {
    font-size: 38px;
}

.main {
    background: url("assets/img.png");
    width: 100%;
    height: 1280px;
    text-align: center;
}

.main div {
    position: relative;
    color:  #ffffff;
}

.main section {
    position: relative;
    top: 240px;
}

.main div.title {
    font-family: 'Playfair Display', serif;
    font-size: 140px;
    font-weight: 400;
    margin-bottom: 20px;
}

.main div.content {
    font-size: 20px;
    font-weight: 300;
    width: 30%;
    margin: 0 auto;
}

.main div.pointer {
    font-size: 14px;
    font-weight: 700;
    border-radius: 25px;
    background-color: #da7074;
    width: 163px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    margin: 100px auto 0 auto;
    z-index: 2;
}

.main div.horizontal-line {
    border-bottom: 1px solid #da7074;
    width: 500px;
    margin: 0 auto;
    top: -23px;
    z-index: 1;
}

.main div.vertical-line {
    height: 190px;
    width: 49%;
    display: inline-block;
}

.main div.right-line {
    top: 70px;
    border-right: 1px solid #da7074;
}

.main div.left-line {
    top: 90px;
    border-left: 1px solid #da7074;
}

.play {
    font-size: 80px;
    color: rgb(255, 255, 255);
    position: relative;
    top: 130px;
    font-weight: 300;
}

.tiles {
    height: 500px;
}

.tile {
    width: 25%;
    height: 500px;
    display: inline-block;
    float: left;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.tile-title {
    font-weight: 600;
    position: relative;
    top: 340px;
    letter-spacing: 1px;
}

.tile-content {
    font-family: Georgia, serif;
    position: relative;
    top:345px;
    font-style: italic;
}

.tile:nth-child(1) {
    background: url("assets/img1.png");
}
.tile:nth-child(2) {
    background: url("assets/img2.png");
}
.tile:nth-child(3) {
    background: url("assets/img3.png");
}
.tile:nth-child(4) {
    background: url("assets/img4.png");
}

.links {
    display: block;
    height: 404px;
    width: 100%;
}

.link {
    width: 21%;
    height: 404px;
    display: inline-block;
    float: left;
}

.about {
    width: 37%;
    height: 404px;
    display: inline-block;
    float: left;
}

.link-content {
    width: 33%;
    margin: 0 auto;
}

.link-title {
    font-weight: 700;
    color: #141515;
    font-size: 14px;
    position: relative;
    top: 115px;
}

.link-list {
    position: relative;
    top: 130px;
    list-style: none;
    padding-left: 0;
    font-style: italic;
    font-family: Georgia, serif;
    color: #565656;
    line-height: 1.86;
}

.about-content {
    width: 70%;
    margin: 0 auto;
}

.about-title {
    font-weight: 700;
    color: #141515;
    font-size: 14px;
    position: relative;
    top: 115px;
}

.about-text {
    margin-top: 16px;
    position: relative;
    top: 130px;
    font-style: italic;
    font-family: Georgia, serif;
    color: #565656;
    line-height: 1.86;
}