.tile {
  width: 25%;
  height: 500px;
  float: left;
  color: $primary-color;
  font-size: 18px;
  text-align: center;

  &-title {
    @include positioning(null, 340);
    font-weight: 600;
    letter-spacing: 1px;
  }

  &-content {
    @include positioning(null, 345);
    font-family: $secondary-font-stack;
    font-style: italic;
  }
}